!!!
%html
  %head
    = partial "meta/base"
    = partial "meta/social"
    = partial "meta/mobile"
    = partial "meta/brand"
    = partial "meta/tricks"

    = stylesheet_link_tag "components"

    = partial "utils/oldie"

  - if content_for? :assets
    = yield :assets

  %body{ class: "#{page_classes}" }
    =# render "utils/typekit"

    - if build?
      = partial "utils/tagmanager"

    // .header
    //   .container
    //     .logo

    .hero
      .hero-content
        .container
          %h1.display2= current_page.data.title
          %p.lead= current_page.data.desc

    .container
      = yield

    -# Placed at the end of the document so the pages load faster
    %script{ src: "https://code.jquery.com/jquery-1.10.2.min.js" }
    =# javascript_include_tag  "jquery"
    = javascript_include_tag  "components"

    =# render "utils/analytics"
