!!!
%html
  %head
    = partial "meta/base"
    = stylesheet_link_tag "styles"
    = partial "utils/oldie"

    - if current_page.data.stylesheet
      = stylesheet_link_tag "#{current_page.data.stylesheet}"

    - if content_for? :stylesheets
      = yield :stylesheets

  %body{ class: "#{page_classes}" }

    =# render "utils/typekit"
    = partial "utils/tagmanager" if build?

    = yield

    -# Placed at the end of the document so the pages load faster
    %script{ src: "https://code.jquery.com/jquery-1.10.2.min.js" }
    =# javascript_include_tag  "jquery"

    = javascript_include_tag  "scripts"

    - if content_for? :javascript
      = yield :javascript

    =# render "utils/analytics"
