---
title: Fullscreen Grid
stylesheet: plays/fullscreen-grid
---

%div.fullscreen-grid
  %div.fullscreen-row
    %div.fullscreen-cell.col-6
      .fullscreen-tile= lorem.paragraphs 10
    %div.fullscreen-cell.col-5
      .fullscreen-tile= lorem.paragraph
    %div.fullscreen-cell.col-4
      .fullscreen-tile= lorem.paragraph

  %div.fullscreen-row
    %div.fullscreen-cell.col-1
      .fullscreen-tile= lorem.paragraph
    %div.fullscreen-cell.col-2
      .fullscreen-tile= lorem.paragraph
    %div.fullscreen-cell.col-3
      .fullscreen-tile= lorem.paragraph

  %div.fullscreen-row
    %div.fullscreen-cell.col-4
      .fullscreen-tile= lorem.paragraph
    %div.fullscreen-cell.col-5
      .fullscreen-tile= lorem.paragraph
    %div.fullscreen-cell.col-6
      .fullscreen-tile= lorem.paragraph

